.aptList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
}

.aptItem {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    background: rgba(15, 29, 45, 0.7);
    font-size: 16px;
    line-height: 1.25;
    // transform: translateY(100%);

    // .aptItem:hover &,
    // .aptItem:focus-within & {
    //     transform: translateY(0);
    // }
}

.descr {
    margin: 0 0 20px 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.rating {
    margin: 0 0 20px 0;
}

.price {
    margin: 0;
}