.section {
    position: relative;
  min-height: calc(100vh - 30px);
    background-image: linear-gradient(
      rgba(15, 29, 45, 0.4),
      rgba(15, 29, 45, 0.4)
    ), url('./auth-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 410px;
    background-color: #fff;
}

.title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
