@value colors: '../../../styles/variables/colors.css';
@value mainColor, accentColor from colors;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 11px;
    background: accentColor;
    border: 1px solid transparent;
    color: mainColor;
    cursor: pointer;
}