.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 11px;
    background: #FF662D;
    border: 1px solid transparent;
    color: #FFFFFF;
}