@value colors: '../../../styles/variables/colors.css';
@value mainColor, accentColor from colors;

.input {
    padding: 10px 32px 12px;
    width: 100%;
    background: mainColor;
    border: 2px solid accentColor;
    outline: none;
}